.wrapper-content-width {
   max-width: $max-content-width;
   margin: 0 auto;
}

.title {
   text-align: center;
   margin-bottom: 60px;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 15px;
   &__text {
      font-size: 21px;
   }

   &__heeader {
      font-weight: 700;
      font-family: Noto Serif;
      font-size: 30px;
   }
}

.button {
   display: flex;
   justify-content: center;
   align-items: center;
   text-transform: uppercase;
   letter-spacing: 0.1em;
}

body {
   background-color: #f9f9f9;
   font-family: "Gilroy";
   max-width: 1920px;
   margin: 0 auto;
}

a {
   display: block;
   text-decoration: none;
   color: inherit;
}
